body{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    background-color: hsl(218, 23%, 16%);
    font-family: 'Manrope';
}
.container{
    position: sticky;
    margin: 0 auto;
    margin-top: 170px;
    flex-direction: column;
    background-color: hsl(217, 19%, 24%);
    width: 23rem;
    height: 15rem;
    border-radius: 10px;
}
.heading{
    position: absolute;
    color: hsl(150, 100%, 66%);
    left: 35%;
}
.advice{
    position: absolute;
    width: 19rem;
    height: 8rem;
    top: 35px;
    left: 30px;
}
#advice{
    color: hsl(193, 38%, 86%);
}
.divider{
    position: absolute;
    top: 170px;
    left: 15px;
}
button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 190px;
    left: 162.5px;
    padding: 10px;
    background-color: hsl(150, 100%, 66%);
    cursor: pointer;
}
button:hover{
    box-shadow: 0px 0px 10px hsl(150, 100%, 66%);
}